body {
	background: #EFF2FB url('../images/background.jpg') no-repeat center center fixed ;
}


.container{
	position: fixed;
	background-color: white;
	min-height: 100%;
}
.navbar{
	margin-top: 10px;
}
tbody{
    overflow: auto;
}
