<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FootballfieldManagement</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>controller.checkLoginServlet</display-name>
    <servlet-name>controller.checkLoginServlet</servlet-name>
    <servlet-class>controller.checkLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller.checkLoginServlet</servlet-name>
    <url-pattern>/checkLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controller.logoutServlet</display-name>
    <servlet-name>controller.logoutServlet</servlet-name>
    <servlet-class>controller.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller.logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controller.loginServlet</display-name>
    <servlet-name>controller.loginServlet</servlet-name>
    <servlet-class>controller.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller.loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controller.homeAdminServlet</display-name>
    <servlet-name>controller.homeAdminServlet</servlet-name>
    <servlet-class>controller.homeAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller.homeAdminServlet</servlet-name>
    <url-pattern>/homeAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controller.getTimePacketForAdminServlet</display-name>
    <servlet-name>controller.getTimePacketForAdminServlet</servlet-name>
    <servlet-class>controller.getTimePacketForAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller.getTimePacketForAdminServlet</servlet-name>
    <url-pattern>/getTimePacketForAdminServlet</url-pattern>
  </servlet-mapping>
</web-app>